body {
    font-family: "Helvetica Neue", sans-serif;
    color: #848484;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.container {
    max-width: 1176px;
    width: 100%;
    margin: 0 auto;
}

.clearfix:after {
    content: '';
    clear: both;
    display: block;
}

img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.header-icon, .abilities-icon, .user-list, .contact-icon, .footer-menu {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

h2 {
    color: #222222;
    font-family: "Raleway - Semi Bold", sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 18px;
}

header {
    background: url("../img/header-img.png")no-repeat scroll center/cover;
    border-top: 11px solid #2ecc71;
    padding-top: 95px;
}

header .container {
    display: flex;
    justify-content: center;
}

.logo-header-icon {
    padding: 72px 118px 176px;
    max-height: 505px;
}

.logo {
    padding-bottom: 12px;
}

.logo a {
    width: 183px;
    height: 83px;
}

.logo img {
    max-width: 183px;
}

.logo-header-icon p {
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}

.header-icon {
    display: flex;
    justify-content: flex-start;
}

.header-icon li {
    width: 53px;
    height: 53px;
    margin-right: 14px;
    border-radius: 50%;
    background-color: #030303;
    display: flex;
    justify-content: center;
    transition: 0.7s;
}

.header-icon li:hover {
    background-color: #2ecc71;
    transition: 0.7s;
}

.header-icon a {
    width: 53px;
    height: auto;
    padding: 12px;
}

.header-icon img {
    max-width: 26px;
}

.img-header-hand {
    margin-right: 48px;
    max-height: 505px;
    width: auto;
}

.img-header-hand img {
    min-height: 505px;
    width: auto;
}

.abilities {
    padding: 60px 0 58px;
    background-color: #ffffff;
    text-align: center;
}

.abilities-icon li {
    float: left;
    width: 33.33%;
    padding: 0 25px;
}

.background-abilities-icon {
    background-color: #2ecc71;
    border-radius: 50%;
    width: 98px;
    height: 98px;
    padding: 25px;
    display: inline-block;
}

.background-abilities-icon img {
    max-width: 48px;
    height: 48px;
}

.abilities-icon p {
     color: #848484;
    transition: 0.7s;
}

.abilities-icon p:hover {
    color: #2ecc71;
    transition: 0.7s;
}

.abilities-icon h2 {
    margin: 30px 0;
    transition: 0.7s;
}

.abilities-icon h2:hover {
    color: #2ecc71;
    transition: 0.7s;
}

.get-notified {
    background-color: #e3e3e3;
    padding: 60px 0;
}

.get-notified .container {
    display: flex;
    justify-content: space-between;
}

.form {
    padding: 0 100px 0 10px;
    width: 50%;
}

.video {
    padding: 0 10px;
    width: 50%;
}

form {
    display: inline-block;
    min-width: 446px;
}

input[type="email"], input[type="submit"] {
    border: 1px solid #c8c8c8;
    background-color: #ffffff;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    vertical-align: bottom;
}

input[type="email"] {
    padding: 22px 165px 20px 26px;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    height: 56px;
    border-radius: 25px;
}

input[type="submit"] {
    background-color: #2ecc71;
    color: #ffffff;
    font-family: "Raleway - Semi Bold", sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 18px;
    padding: 19px 40px 15px 38px;
    margin-left: -141px;
    border-radius: 0 25px 25px 0;
    height: 56px;
    transition: 0.7s;
}

input[type="submit"]:hover {
    background-color: darkgreen;
    transition: 0.7s;
}

.video iframe {
    max-width: 100%;
}

.users {
    padding: 60px 0;
    background-color: #ffffff;
    text-align: center;
}

blockquote {
    font-size: 18px;
    font-style: italic;
    line-height: 30px;
}

blockquote:before, blockquote:after {
    content: '"';
    display: inline;
}

h3 {
    color: #2e2e2e;
    font-family: "Raleway - Semi Bold", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
}

.user-list {
    padding-bottom: 40px;
}

.user-list li {
    float: left;
    padding: 5px;
    width: 4.76%;
}

.user-list img {
    max-width: 50px;
    max-height: 50px;
}

.user-list img:hover {
    background: url("../img/overlay.png") no-repeat scroll center/cover;
    opacity: 0.6;
}

.active {
    position: relative;
}

.overlay {
    position: absolute;
    right: 3px;
    bottom: 3px;
}

.contact-icon {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.contact-icon li {
    margin: 5px;
    background-color: #c5c5c5;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    width: 34px;
    height: 34px;
    transition: 0.7s;
}

.contact-icon li:hover {
    background-color: #2ecc71;
    transition: 0.7s;
}

.contact-icon a {
    width: auto;
    height: auto;
    padding: 5px;
}

.contact-icon img {
    max-width: 20px;
}

footer {
    background-color: #e3e3e3;
    padding: 60px 0 54px;
}

.footer-menu {
    display: flex;
    justify-content: center;
}

.footer-menu a {
    color: #848484;
    transition: 0.7s;
    padding: 20px;
}

.footer-menu a:hover {
    color: #2ecc71;
    transition: 0.7s;
}


